    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <h1><%= @user.username %></h1>
            <ul><li>Score: <%= @user.score %></li><li>Registered since <%= @user.created_at.strftime("%b. %Y") %></li></ul>
        </div>
        <!-- /.row -->
        <div class="row">
        	<h2>Achievements</h2>
        </div>
        <div class="row">
            <!-- Change this so it comes from badges / Make badges smaller than 300x300 -->
            <div class="col-sm-2">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/150x150" alt="">
            </div>
            <div class="col-sm-2">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/150x150" alt="">
            </div>
            <div class="col-sm-2">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/150x150" alt="">
            </div>
            <div class="col-sm-2">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/150x150" alt="">
            </div>
            <div class="col-sm-2">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/150x150" alt="">
            </div>
            <div class="col-sm-2">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/150x150" alt="">
            </div>
        <!-- /.row -->
    </div>